.DS_Store
2024级培养方案.pdf
拆分结果.zip
拆分结果/.DS_Store
拆分结果/.pdf
拆分结果/会计学（中外合作办学）专业人才培养方案.pdf
拆分结果/会计学（双语实验班）人才培养方案.pdf
拆分结果/会计学（注册会计师专门化方向）专业人才培养方案.pdf
拆分结果/信息管理与信息系统（信息系统与数据管理方向）专业人才培养方案.pdf
拆分结果/公共管理类专业人才培养方案.pdf
拆分结果/国际商务（中外合作办学）专业人才培养方案.pdf
拆分结果/国际组织人才实验班人才培养方案.pdf
拆分结果/外国语言文学类专业人才培养方案.pdf
拆分结果/大数据与财富管理实验班人才培养方案.pdf
拆分结果/大数据会计实验班人才培养方案.pdf
拆分结果/工商管理类专业人才培养方案.pdf
拆分结果/工商管理类（会计学院）专业人才培养方案.pdf
拆分结果/市场营销（金融服务与营销）专业人才培养方案.pdf
拆分结果/数字媒体艺术专业人才培养方案.pdf
拆分结果/数字经济（基础学科拔尖实验班）人才培养方案.pdf
拆分结果/数字财税实验班人才培养方案.pdf
拆分结果/数学与应用数学 （数学与经济学双学位）专业人才培养方案.pdf
拆分结果/数学与应用数学（基础学科拔尖实验班）人才培养方案.pdf
拆分结果/新闻学专业人才培养方案.pdf
拆分结果/智能商务与管理实验班人才培养方案.pdf
拆分结果/汉语言文学专业人才培养方案.pdf
拆分结果/法学与会计双学位专业人才培养方案.pdf
拆分结果/法学与国际商务双学位专业人才培养方案.pdf
拆分结果/法学与金融学双学位专业人才培养方案.pdf
拆分结果/法学专业人才培养方案.pdf
拆分结果/物流管理（运营管理与商务分析方向）专业人才培养方案.pdf
拆分结果/管理科学与工程类专业人才培养方案.pdf
拆分结果/精算学专业人才培养方案.pdf
拆分结果/经济与贸易类专业人才培养方案.pdf
拆分结果/经济统计学专业人才培养方案.pdf
拆分结果/经管国际化创新实验班人才培养方案.pdf
拆分结果/统计学类专业人才培养方案.pdf
拆分结果/网络与新媒体专业人才培养方案.pdf
拆分结果/西南财经大学-电子科技大学联合学士学位 金融学（智能金融与区块链金融）专业人才培养方案.pdf
拆分结果/西南财经大学本科专业人才培养方案原则性意见.pdf
拆分结果/西班牙语专业人才培养方案.pdf
拆分结果/计算机科学与技术（基础学科拔尖实验班） 人才培养方案.pdf
拆分结果/计算机类专业人才培养方案.pdf
拆分结果/财务管理专业 2024 级辅修学位教学计划.pdf
拆分结果/财政学类专业人才培养方案.pdf
拆分结果/金融学专业 2024 级辅修学位教学计划.pdf
拆分结果/金融学类专业人才培养方案.pdf
拆分结果/金融学类（保险方向）专业人才培养方案.pdf
拆分结果/金融工程专业人才培养方案.pdf
拆分结果/金融数学专业人才培养方案.pdf
拆分结果/金融数学实验班人才培养方案.pdf
拆分结果/金融数学（金融服务与量化分析方向）专业人才培养方案.pdf
拆分结果/金融科技专业人才培养方案.pdf
拆分结果/金融统计与风险管理实验班人才培养方案.pdf
目录索引.xlsx
